<!DOCTYPE html>
<html lang="ko"
      layout:decorator="~{layout/default_Layout}"
      layout:fragment="content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8"/>
  <title>RACCOON</title>

  <script>
    function checkVal(){

    }

    function getLowCode(obj){
      let code = obj.value;
      let objId = obj.id;
      axios.get(`/common/lowlevelcode/` + code // 요청 urL, get방식
          ,{withCredentials: false})
          .then(res => { // promise 형식, 응답받음// res객체애 응답 데이터 담아옴
            let html = '';
            for(let i = 0 ; i < res.data.length ; i++){
              let code = res.data[i].code;
              let codeNm = res.data[i].codeNm;
              html += '<option value="' + code + '">' + codeNm + '</option>';
            }

            let selectObj = document.querySelector('#div' + Number(objId.replace('div', '')) + 1);
            $(selectObj).append(html);
          })
          .catch(err => { // 에러 처리
            console.log(err);
            alert('ERROR');
          })
    }
  </script>
</head>
<body>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-7">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5" >
            <div class="row justify-content-center" >

              <div class="newpage">
                <form id="salesBoardForm" class="" th:action="@{form}" th:method="post" th:object="${salesBoard}">

                  <div class="object">
                    <p class="obTitle">제목</p>
                    <div class="form-outline flex-fill mb-">
                      <input type="text" th:field="*{title}" class="form-control-raccoon" placeholder="제목을 입력하세요." oninput="resetDupId();" maxlength="100"/>
                    </div>
                  </div>

                  <div class="object">
                    <p class="obTitle">분류</p>
                    <div class="form-outline flex-fill mb-0">
                      <select th:field="*{div1}" class="form-select" onchange="getLowCode(this);">
                        <option value="" label="1차 분류"></option>
                        <th:block th:each="code : ${codelist}">
                          <option th:value="${code.code}" th:text="${code.codeNm}"></option>
                        </th:block>
                      </select>
                      <select th:field="*{div2}" class="form-select" onchange="getLowCode(this);">
                        <option value="" label="2차 분류"></option>
                      </select>
                      <select th:field="*{div3}" class="form-select">
                        <option value="" label="3차 분류"></option>
                      </select>
                    </div>
                  </div>

                  <div class="object">
                    <p class="obTitle">가격</p>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" maxlength="12"/>
                    </div>
                  </div>

                  <div class="object">
                    <p class="obTitle">구매/판매 구분</p>
                    <div class="form-outline flex-fill mb-0">
                      <select th:field="*{saleCategoty}" class="form-select">
                        <option th:value="buy" th:label="구매"/>
                        <option th:value="sale" th:label="판매"/>
                      </select>
                    </div>
                  </div>

                  <div class="object">
                    <p class="obTitle">내용</p>
                    <div class="form-outline flex-fill mb-0">
                      <textarea th:value="content" placeholder="내용을 입력하세요." class="form-control"></textarea>
                      <p id="nickNameDupMsg" class="off"></p>
                    </div>
                  </div>

                  <div>
                    <button type="button" class="btn btn-raccoon btn-lg active btn-block btn-design" onclick="checkVal();">등록</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


