<!DOCTYPE html>
<html lang="ko"
      layout:decorator="~{layout/default_Layout}"
      layout:fragment="content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8"/>
  <title>RACCOON</title>
</head>
<body>
  <main>
    <section> <!--검색 영역-->
      검색영역
    </section>
    <section> <!--리스트 영역-->
      <ul>
        <li>
          <div class="imem-card">
            <span class="cate">분류</span>
            <a href="#">
              <strong class="title">제목이 입력됩니다.</strong>
              <i class="writer subtilte">김작성자</i>
              <i class="date">0000-00-00</i>
            </a>
          </div>
        </li>
      </ul>
    </section>

    <th:block th:if="${#strings.equals(param.saleCategory, 'sale')}">
      <a href="./form">나도 판매하기</a>
    </th:block>

    <section> <!--페이지 네비게이션 영역-->
      <nav>
        <ul>
          <li>
            <a href="#">이전</a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li>
            <a href="#">다음</a>
          </li>
        </ul>
      </nav>
    </section>
  </main>


</body>
</html>