<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
<head>
  <meta charset="UTF-8">
  <script>
    function signUpList(){
      location.href = '/user/signUpList';
    }

    function login(){
      location.href = '/user/login';
    }

    function logout(){
      location.href = '/user/logout';
    }

    function myPage(){
      location.href = '/user/mypage';
    }
  </script>
</head>
<body>
<!--header-->
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
<!--        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">-->
          <img class="logo" id="logo_default" src="/img/common/logo/Raccoon_default.png">
          <img class="logo" id="logo_vertical" src="/img/common/logo/Raccoon_vertical.png">
          <img class="logo" id="logo_org" src="/img/common/logo/Raccoon_org.png">
<!--        </svg>-->
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/salesBoard/list?saleCategory=buy" class="nav-link px-2 link-secondary">라쿤 삽니다</a></li>
        <li><a href="/salesBoard/list?saleCategory=sale" class="nav-link px-2 link-dark">라쿤 팝니다</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">자유게시판</a></li>
<!--        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>-->
<!--        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>-->
      </ul>

      <div class="col-md-3 text-end">
        <button th:if="${session.userid == null}" type="button" class="btn btn-outline-primary me-2" onclick="login();">Login</button>
        <button th:if="${session.userid == null}" type="button" class="btn btn-primary" onclick="signUpList();">Sign-up</button>
        <button th:if="${session.userid != null}" type="button" class="btn btn-outline-primary me-2" onclick="logout();">Logout</button>
        <button th:if="${session.userid != null}" type="button" class="btn btn-primary" onclick="mypage();">MyPage</button>
      </div>
    </header>
  </div>
</body>
</html>