<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <th:block th:replace="fragment/defaultSet :: defaultSetFragment"></th:block>
  <script>
    window.onload = function(){
      $('#celno').focus();
    };

    function findID() {
      if ($('#celno').val() === '') {
        alert('연락처를 입력해주세요.');
        $('#celno').focus();
        return false;
      } else {
        let celno = document.querySelector('#celno').value; // 연락처
        axios.get(`/user/selectUserList`,{ //axios get 요청 사용해서 유저정보 조회
          params: {
            celno: celno // 요청 파라미터 : 연락처
          }
        })
            .then(res => {
              let data = res.data; // 서버 요청 결과(User 객체 리스트)
              let resultDiv = document.querySelector('#result_div');
              resultDiv.innerHTML = '총 ' + res.data.length + '개의 아이디를 찾았습니다.';

              if(data.length > 0){
                for(let i = 0 ; i < data.length ; i++){
                  resultDiv.innerHTML += '<p>- ' + data[i].userid + '</p>'
                }
              }
            })
            .catch(err => {
              console.log(err)
              alert('ERROR');
            })
      }
    }

  </script>
</head>
<body>
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 signuppage">
                <div class="signHeader">
                  <a href="/">
                    <img class="logo singlogo" src="/img/common/logo/Raccoon_org.png">
                  </a>
                </div>
                <div class="newpage">
                  <div class="object">
                    <p class="obTitle">연락처</p>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="celno" class="form-control-raccoon" placeholder="- 제외하고 입력" onkeyup="this.value = this.value.replace(/[^0-9]/g,'');" maxlength="15">
                      <button class="btn20" type="button" onclick="findID();">찾기</button>
                    </div>

                    <div id="result_div"></div>
                  </div>

                  <div>
                    <span><a href="./signUpList">회원가입</a></span>
                    <span><a href="./login">로그인</a></span>
                    <span><a href="./findPw">비밀번호 찾기</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>