<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <th:block th:replace="fragment/defaultSet :: defaultSetFragment"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <title>RACCOON</title>

  <script>
    function sendSMS(){
      axios({
      url: '/user/sendAuthSMS', // URL
      method: 'post', // 통신할 방식
      data: { // 인자로 보낼 데이터
        receiver: $('#celno').val()
      }
    });
    }

    function checkVal(){

      if(confirm('가입하시겠습니까?')){

      }
    }

  </script>
</head>
<body>
<section class="vh-100" style="background-color: #bbab9d;">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-7">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5" >
            <div class="row justify-content-center" >
              <div class="signuppage">
                <div>
                  <div class="signHeader" >
                    <a href="/" >
                      <img class="logo singlogo" src="/img/common/logo/Raccoon_org.png">
                    </a>
                    <p class="h2">회원가입</p>
                  </div>
                  <ul class="signinfo">
                    <li class="signli on"><a>1</a> 회원정보입력</li>
                    <li class="signli"><a>2</a>가입완료</li>
                  </ul>
                  
                </div>
              </div>

                <div class="newpage">
                <form id="signUpForm" class="" th:action="@{signUpPost}" th:method="post" th:object="${userinfo}">

                  <div class="object">
                    <p class="obTitle">아이디</p>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" th:field="*{userid}" class="form-control" placeholder="아이디(4~12글자)"/>
                    </div>
                  </div>

                  <div class="object">
                    <p class="obTitle">패스워드</p>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" th:field="*{password}" class="form-control" placeholder="패스워드"/>
                    </div>
                  </div>

                  <div class="object">
                    <p class="obTitle">패스워드 확인</p>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="passwordchk" class="form-control" placeholder="패스워드 확인"/>
                    </div>
                  </div>

                  <div class="object">
                    <p class="obTitle">이름</p>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" th:field="*{username}" class="form-control" placeholder="이름"/>
                    </div>
                  </div>

                  <div class="object">
                    <p class="obTitle">닉네임</p>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임(최대 10글자)"/>
                    </div>
                  </div>

                  <div class="object">
                    <p class="obTitle">연락처</p>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" th:field="*{celno}" class="form-control" placeholder="연락처( - 제외하고 입력)"/>
                    </div>
                  </div>

                  <div>
                    <button type="button" class="btn btn-raccoon btn-lg active btn-block btn-design" onclick="checkVal();">가입하기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<p>ID :: <span th:text="${id}"></span></p>-->
<!--<p>test code</p>-->
</body>
</html>