/*text.css*/

#title {
  font-size: 20px;
  display: inline-block;
}

.signuppage ul{
  margin: 0;
  padding: 0;
  display: block;
  height: auto;
  text-align: center;
}

ul li.signli{
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: -1.5px;
  width: 150px;
  margin: 0;
  text-align: center;
  padding: 5px 0;
}

ul li.signli a{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid rgb(185, 190, 196);
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}


ul.signinfo li.on a {
  background-color: #fff;
  color: #F3B562;
  border: 2px solid #F3B562;
}



.logo {
  height: 150px;
}

@media (min-width: 1200px) {
  #logo_vertical,
  #logo_org {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #logo_vertical,
  #logo_default {
    display: none;
  }
  #logo_org {
    display: block;
    height: 100px;
  }
}

@media (max-width: 767px) {
  #logo_vertical,
  #logo_org {
    display: none;
  }
}

.footer span {
  display: block;
}

.footer span .logo {
  height: 80px;
  padding-bottom: 5px;
}

.signHeader {
  width: 100%;
  height: auto;
  vertical-align: middle;
  position: relative;
}

.signHeader a {
  display: inline-block;
  height: 100%;
}

.signHeader .singlogo {
  height: 100px;
}

.signHeader p {
  display: inline-block;
  position: absolute;
  bottom: 30%;
  margin: 0 0 0 10px;
}

.object p.obTitle {
  margin: 5px 0 5px;
  font-size: 12px;
  font-weight: 600;
}

.object div input {
  font-size: 12px;
}

.btn-design {
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
  height: 40px;
}


.btn-raccoon {
  --bs-btn-color: #fff;
  --bs-btn-bg: #422E19;
  --bs-btn-border-color: #422E19;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #422E19;
  --bs-btn-hover-border-color: #422E19;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #422E19;
  --bs-btn-active-border-color: #422E19;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #422E19;
  --bs-btn-disabled-border-color: #422E19;
}

.btn-raccoon:hover {
  color: #ffffff;
  background-color: #8C7968;
  border-color: #8C7968;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4)
}

